@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

body,
html {
    font-family: 'Saira Semi Condensed', sans-serif;
}


// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  position: relative;
  background-color: rgb(58, 88, 12);

}

h1 {
  text-transform:lowercase;
  text-decoration: underline;
  font-weight: 300;
  color: rgb(231, 211, 32);
  margin-top: 20px;
  padding-bottom: 40px;
}

.pavadinimas {
  font-size: 24px;
  color: rgb(231, 211, 32);
}

.card-header {
  text-transform: uppercase;
  color: rgb(231, 211, 32);
}

.movie {
  display:flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    &__content {
        display: flex;
        &__title{
            font-size: 20px;
            font-weight: bold;
            margin-right: 10px;
        }
        &__type{
            font-size: 20px;
            letter-spacing: 1px;
            margin-right: 10px;
        }
        &__color {
            font-size: 20px;
            color: rgb(231, 211, 32);
            margin-right: 10px;
        }
    }
  &__buttons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      button {
          margin-left: 5px;
      }
  
}}

.modal {
  display: block;
  background-color: #0d330db6;
}
